body{
    margin: 0px;
    padding: 0px;
    background-color: #ffb6c1	;
}
h1{
    text-align: center;
    color:purple;
}
p{
    font-size: 20px;
}
.pic{
    position: absolute;
    top: 30%;
    left: 36%;
}